# Root of the project
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = 100

# Java source files
[*.java]
indent_size = 4
tab_width = 4
continuation_indent_size = 4
ij_java_keep_simple_imports = true
ij_java_imports_layout = '''
    com.*
    fr.guddy.roombookings.*
    java.*
    javax.*
    org.*
    blank
    static *
'''

# Markdown
[*.md]
trim_trailing_whitespace = false

# YAML
[*.yml]
indent_size = 2
